<template>
    <v-container grid-list-md white>
        <v-layout row>
            <v-form
                    ref="form"
                    v-model="valid"
                    lazy-validation
            >
                <v-layout row wrap>
                    <v-flex xs6 class="headline" v-if="!blog._id">New Blog</v-flex>
                    <v-flex xs6 class="headline" v-if="blog._id">{{blog.title}}</v-flex>
                    <v-flex xs6 class="text-lg-right">
                        Updated: {{blog.updated_date | formattedDate}}
                    </v-flex>
                    <v-flex xs6>
                        <v-radio-group
                                v-model="blog.status"
                                row
                        >
                            <v-radio
                                    label="Live"
                                    value="live"
                            ></v-radio>
                            <v-radio
                                    label="Draft"
                                    value="draft"
                            ></v-radio>
                        </v-radio-group>
                    </v-flex>
                    <v-flex xs12>
                        <v-text-field
                                v-model="blog.title"
                                :counter="20"
                                label="Blog title"
                                v-validate="'required'"
                                data-vv-name="title"
                                :error-messages="errors.collect('title')"
                                required
                        ></v-text-field>
                    </v-flex>
                    <v-layout row wrap>
                        <v-flex xs12>
                            <v-card color="blue-grey lighten-3" class="white--text">
                                <v-card-title primary-title>
                                    <v-layout row wrap>
                                        <v-flex xs12>
                                            <h3 class="text-lg-left pl-1">Add images or video</h3>
                                        </v-flex>
                                        <v-flex row xs5>
                                            <v-text-field
                                                    label="Add media URL"
                                                    v-model="mediaurl"
                                            ></v-text-field>
                                        </v-flex>
                                        <v-flex xs3 class="pr-1 pl-5">
                                            <v-text-field
                                                    label="Add label (optional)"
                                                    v-model="medialabel"
                                            ></v-text-field>
                                        </v-flex>

                                        <v-flex xs3 class="pr-1 pl-5">
                                            <v-text-field
                                                    label="Add a link (optional)"
                                                    v-model="medialink"
                                            ></v-text-field>
                                        </v-flex>
                                        <v-flex xs3 class="pr-1">
                                            <v-text-field
                                                    label="Pos.top (optional)"
                                                    v-model="mediatop"
                                            ></v-text-field>
                                        </v-flex>
                                        <v-flex xs3 class="pr-1 pl-5">
                                            <v-text-field
                                                    label="Pos.left (optional)"
                                                    v-model="medialeft"
                                            ></v-text-field>
                                        </v-flex>
                                        <v-flex class="pl-5" xs6>
                                            <v-radio-group
                                                    v-model="blog.gallery"
                                                    row
                                            >
                                                <v-radio
                                                        label="Use carousel"
                                                        value="false"
                                                ></v-radio>
                                                <v-radio
                                                        label="Use gallery"
                                                        value="true"
                                                ></v-radio>
                                            </v-radio-group>
                                        </v-flex>
                                    </v-layout>
                                </v-card-title>
                                <v-card-actions>
                                    <v-btn dark @click="addMediaURL">Add
                                        <v-icon right dark>add_circle</v-icon>
                                    </v-btn>
                                </v-card-actions>
                            </v-card>
                        </v-flex>
                    </v-layout>
                    <v-layout row wrap>
                        <v-flex xs12 v-if="checkMedia()">
                            <v-card>
                                <v-container
                                        fluid
                                        grid-list-md
                                >
                                    <v-layout row wrap>
                                        <v-flex xs4
                                                v-for="(mediaData, index)  in blog.media"
                                                :key="mediaData.label"
                                        >
                                            <v-card>
                                                <video
                                                        v-if="mediaData.type==='video'"
                                                        width="100%" height="240px" aspect-ratio="1" controls
                                                        :src="mediaData.media"></video>
                                                <v-img
                                                        v-if="mediaData.type==='image'"
                                                        :src="mediaData.media"
                                                        :lazy-src="mediaData.media"
                                                        aspect-ratio="1"
                                                        class="grey lighten-2"
                                                >
                                                    <v-container
                                                            fill-height
                                                            fluid
                                                            pa-2
                                                    >
                                                        <v-layout fill-height>
                                                            <v-flex xs12 align-end flexbox>
                                                        <span class="headline white--text"
                                                              v-text="mediaData.label"></span>
                                                            </v-flex>
                                                        </v-layout>
                                                    </v-container>
                                                </v-img>

                                                <v-card-actions>
                                                    <v-spacer></v-spacer>
                                                    <v-btn icon @click="deleteMediaBlog(index)">
                                                        <v-icon class="red--text">delete</v-icon>
                                                    </v-btn>
                                                    <v-btn icon @click="editMediaBlog(index)">
                                                        <v-icon class="success--text">edit</v-icon>
                                                    </v-btn>
                                                </v-card-actions>
                                            </v-card>
                                        </v-flex>
                                    </v-layout>
                                </v-container>
                            </v-card>

                        </v-flex>
                    </v-layout>

                    <v-flex xs12>
                        <ckeditor :editor="editor" v-model="blog.body" :config="editorConfig"></ckeditor>
                        <div class="flex body-1 error--text" v-if="errorBody">You need some content on your page</div>
                    </v-flex>
                    <v-flex xs6>
                        <v-text-field
                                v-model="blog.seo_keywords"
                                label="SEO Keywords"
                                hint="Separate with a comma"
                        ></v-text-field>
                    </v-flex>
                    <v-flex xs6>
                        <v-text-field
                                v-model="blog.seo_metadata"
                                label="SEO Metadata"
                                hint="Separate with a comma"
                        ></v-text-field>
                    </v-flex>
                    <v-flex xs6>
                        <v-btn
                                :disabled="!valid"
                                color="success"
                                @click="validateForm"
                        >
                            Save
                        </v-btn>

                        <v-btn
                                color="error"
                                :to="{ name: 'blogs'}"
                        >
                            Close
                        </v-btn>
                    </v-flex>

                </v-layout>
            </v-form>
        </v-layout>
        <v-snackbar
                v-model="snackbar"
                :bottom="y === 'bottom'"
                :left="x === 'left'"
                :multi-line="mode === 'multi-line'"
                :right="x === 'right'"
                :timeout="timeout"
                :top="y === 'top'"
                :vertical="mode === 'vertical'"
        >
            {{ text }}
            <v-btn
                    color="pink"
                    flat
                    @click="snackbar = false"
            >
                Close
            </v-btn>
        </v-snackbar>
    </v-container>
</template>


<script>
    import api from '@/services/api.js'
    import ClassicEditor from '@ckeditor/ckeditor5-build-classic';
    import store from '@/store.js'
    import moment from 'moment'
    export default {
        $_veeValidate: {
            validator: 'new'
        },
        mounted() {
            this.$validator.localize('en', this.dictionary)
        },
        dictionary: {
            attributes: {
                email: 'E-mail Address'
                // custom attributes
            },
            custom: {
                name: {
                    required: () => 'Name can not be empty',
                    max: 'The name field may not be greater than 10 characters'
                    // custom messages
                }
            }
        },
        created() {
            this.getBlog();
        },
        data() {
            return {
                snackbar: false,
                y: 'top',
                x: null,
                mode: '',
                timeout: 6000,
                text: 'Hello, your blog has been saved.',
                valid: true,
                mediaurl: '',
                medialabel: '',
                medialink: '',
                mediatop: '',
                medialeft: '',
                mediatype: 'image',
                errorBody: false,
                blog: {media: []},
                name: '',
                types: ['Home', 'About Us', 'Services', 'Blog', 'Other'],
                editor: ClassicEditor,
                editorData: '<p></p>',
                editorConfig: {
                    // The configuration of the editor.
                    height: '25em'
                }
            }
        },
        filters: {
            formattedDate: function (date) {
                return moment(date).format('MMMM Do YYYY, h:mm:ss a');
            }
        },
        methods: {
            validateForm() {
                this.$validator.validateAll().then(result => {
                    if (result) {
                        if (this.blog.body) {
                            this.save();
                        } else {
                            this.errorBody = true;
                        }
                    }
                });

            },
            validate() {
                if (this.$refs.form.validate()) {
                    this.snackbar = true
                }
            },
            deleteMediaBlog(_index) {
                this.blog.media.splice(_index, 1);
                this.blog.updated_date = Date.now();
            },
            editMediaBlog(_index) {
                this.mediaurl = this.blog.media[_index].media;
                this.medialabel = this.blog.media[_index].label;
                this.medialink = this.blog.media[_index].link;
                this.mediatop = this.blog.media[_index].top;
                this.medialeft = this.blog.media[_index].left;
                this.deleteMediaBlog(_index);
            },
            addMediaURL() {
                if (this.mediaurl.indexOf('.mp4') >= 0) {
                    this.mediatype = 'video';
                } else {
                    this.mediatype = 'image';
                }
                this.blog.media.push({
                    'label': this.medialabel,
                    'media': this.mediaurl,
                    'type': this.mediatype,
                    'link': this.medialink,
                    'top': this.mediatop,
                    'left': this.medialeft
                });
                this.blog.updated_date = Date.now();
                this.medialeft = '';
                this.mediatop = '';
                this.medialabel = null;
                this.mediaurl = null;
            },
            async getBlog() {
                if (this.$route.params.id) {
                    this.blog = await api.getBlog(this.$route.params.id);
                } else {
                    this.blog.status = 'draft';
                    this.blog.template = 'Other';
                    this.blog.gallery = false;
                }
                if (!this.blog.media) {
                    this.blog.media = [];
                }
            },
            async save() {
                this.blog.updated_by = store.getters.currUserName;
                let res = await api.saveBlog(this.blog);
                if (res.status === 200) {
                    this.text = 'Hello, your page has been updated.';
                    this.snackbar = true;
                    let self = this;
                    setTimeout(function () {
                        self.$router.push({path: '/blogs'});
                    }, 1500);
                } else {
                    this.text = 'Hello, your page WAS NOT saved. Please try again later.';
                    this.snackbar = true;
                }
            },
            checkMedia() {
                if (this.blog.media && this.blog.media.length > 0) {
                    return true
                }
                return false;
            }
        }
    }
</script>
<style>
    .ck {
        height: 25em
    }
</style>
