<template>
    <div class="home flex xs12">
            <v-flex xs12>
                <v-card color="blue-grey darken-2" class="white--text">
                    <v-card-title primary-title>
                        <div class="flex xs12">
                            <div class="headline">Galleries</div>
                            <div class="pb-1">Create, edit and delete galleries.</div>
                            <v-data-table
                                    :headers="headers"
                                    :items="galleries"
                                    class="elevation-1 flex xs12"
                                    v-bind:pagination.sync="pagination"
                            >
                                <template
                                        slot="items"
                                        slot-scope="props"
                                >
                                    <td>{{ props.item.title }}</td>
                                    <td>
                                        {{ props.item.status | upperCase }}
                                    </td>
                                    <td>
                                        {{ props.item.updated_date | formattedDate }}
                                    </td>
                                    <td>
                                        <router-link :to="{ name: 'gallery', params: { id: props.item._id }}">
                                            <v-icon
                                                    small
                                                    class="mr-2"
                                            >
                                                edit
                                            </v-icon>
                                        </router-link>
                                    </td>
                                    <td>
                                        <v-icon
                                                small
                                                @click="deleteItem(props.item._id)"
                                        >
                                            delete
                                        </v-icon>
                                    </td>
                                </template>
                            </v-data-table>
                        </div>
                    </v-card-title>
                    <router-link :to="{ name: 'gallery', params: { id: null}}">
                        <v-btn
                                color="green"
                                dark
                                large
                                absolute
                                right
                                fab
                                class="mt-2">
                            <v-icon>add</v-icon>
                        </v-btn>
                    </router-link>
                </v-card>
            </v-flex>
    </div>
</template>

<script>
    // @ is an alias to /src
    import api from '@/services/api.js'
    import moment from 'moment'
    export default {
        created() {
            this.getGalleries()
        },
        name: 'galleries',
        filters: {
            formattedDate: function (date) {
                return moment(date).format('MMMM Do YYYY, h:mm:ss a');
            },
            upperCase: function (_val) {
                return _val.toUpperCase();
            }
        },
        data() {
            return {
                galleries: [],
                pagination: {'sortBy': 'updated_date', 'descending': true, 'rowsPerPage': -1},
                headers: [
                    {
                        text: 'Title',
                        align: 'left',
                        sortable: false,
                        value: 'title'
                    },
                    {text: 'Status', value: 'status',sortable: false},
                    {text: 'Last Updated', value: 'updated_date'},
                    {text: 'Edit', value: ''},
                    {text: 'Delete', value: ''}
                ]
            }
        },
        methods: {
            async getGalleries() {
                this.galleries = await api.getGalleries();
            },
            async deleteItem(_id) {
                await api.deleteGallery(_id);
                this.$router.go();
            }

        }
    }
</script>
