<template>
    <v-layout>
        <v-flex
                xs12
                sm6
                offset-sm3
        >
            <div class="font-weight-thin my-2 display-1">Welcome to the TW Property Services Admin Panel</div>
            <blockquote class="blockquote">
                Below are some brief tips on using your Content Management System
            </blockquote>
            <v-card>
                <v-card-title primary-title>
                    <div>
                        <h3 class="headline mb-0">
                            Site Config
                        </h3>
                        <blockquote class="blockquote">
                            Add keywords, meta data and also your Google Analytics code here to track activity on your
                            site. Add or update the name of your site here.
                        </blockquote>

                    </div>
                </v-card-title>
            </v-card>
            <br/>
            <v-card>
                <v-card-title primary-title>
                    <div>
                        <h3 class="headline mb-0">
                            Images
                        </h3>
                        <blockquote class="blockquote">
                           Paste image URLs in from the Cloudinary account. If its a video make sure its an mp4 and the system will take care of the rest.
                        </blockquote>

                    </div>
                </v-card-title>
            </v-card>
            <br/>
            <v-card>
                <v-card-title primary-title>
                    <div>
                        <h3 class="headline mb-0">
                            SEO (Google)
                        </h3>
                        <blockquote class="blockquote">
                            In the site config and other areas you will see fields for 'SEO keywords' and 'SEO
                            metadata'. To help with your Google page ranking you can add terms in these fields that you
                            think relate to the content on your page and to the words you think people would use to try
                            and find your page.
                        </blockquote>

                    </div>
                </v-card-title>
            </v-card>
        </v-flex>
    </v-layout>
</template>

