<template>
    <v-layout>
        <v-flex xs12 sm6 offset-sm3>
            <v-card>
                <v-img
                        src="https://res.cloudinary.com/tw-property-services/image/upload/v1547737601/frontpage-forza.jpg"
                        aspect-ratio="2.75"
                ></v-img>

                <v-card-title primary-title>
                    <v-form class="flex">
                        <v-container>
                            <v-layout row>
                                <v-flex xs12>
                                    <v-text-field
                                            v-model="username"
                                            :rules="rules.emailMatch"
                                            label="E-mail"
                                            required
                                    ></v-text-field>
                                </v-flex>
                                <v-flex xs12>
                                    <v-text-field
                                            :append-icon="show3 ? 'visibility_off' : 'visibility'"
                                            :rules="[rules.required, rules.min]"
                                            :type="show3 ? 'text' : 'password'"
                                            name="input-10-2"
                                            label="Password"
                                            v-model="password"
                                            hint="At least 7 characters"
                                            class="input-group--focused"
                                            @click:append="show3 = !show3"
                                    ></v-text-field>
                                </v-flex>
                            </v-layout>
                        </v-container>
                    </v-form>
                </v-card-title>

                <v-card-actions>
                    <v-btn dark @click="login">Login</v-btn>
                </v-card-actions>
            </v-card>
        </v-flex>
    </v-layout>
</template>

<script>
    import api from '@/services/api.js'

    export default {
        methods: {
            login: function () {
                let username = this.username
                let password = this.password
                this.$store.dispatch('login', {username, password})
                    .then(() => this.$router.push('/'))
                    .catch(err => console.log(err))
            }
        },
        data() {
            return {
                show1: false,
                show2: true,
                show3: false,
                show4: false,
                password: 'Password',
                rules: {
                    required: value => !!value || 'Required.',
                    min: v => v.length >= 7 || 'Min 7 characters',
                    emailMatch: [
                        v => !!v || 'E-mail is required',
                        v => /.+@.+/.test(v) || 'E-mail must be valid'
                    ]
                },
                username: "stevenjchapman@gmail.com",
                password: "password"
            }
        },
    }
</script>
