<template>
    <v-container white>
        <v-layout row>
            <v-form
                    ref="form"
                    v-model="valid"
                    lazy-validation
                    class="flex xs12"
            >
                <v-layout row wrap>
                    <v-flex xs6>
                        <v-text-field
                                v-model="testimonial.customer_name"
                                :counter="10"
                                label="Name"
                                v-validate="'required'"
                                data-vv-name="name"
                                :error-messages="errors.collect('name')"
                                required
                        ></v-text-field>
                    </v-flex>
                    <v-flex xs3 offset-xs3 class="text-lg-right">
                        Updated: {{testimonial.updated_date | formattedDate}}
                    </v-flex>
                </v-layout>
                <v-flex xs12>
                    <ckeditor :editor="editor" v-model="testimonial.body" :config="editorConfig"></ckeditor>
                    <div class="flex body-1 error--text" v-if="errorBody">You need some content on your page</div>
                </v-flex>

                <v-radio-group
                        v-model="testimonial.status"
                        row
                >
                    <v-radio
                            label="Live"
                            value="live"
                    ></v-radio>
                    <v-radio
                            label="Draft"
                            value="draft"
                    ></v-radio>
                </v-radio-group>
                <!--<v-layout row wrap>-->
                    <!--<v-flex xs6>-->
                        <!--<v-card color="blue-grey lighten-3" class="white&#45;&#45;text">-->
                            <!--<v-card-title primary-title>-->
                                <!--<v-layout row wrap>-->
                                    <!--<v-flex xs12>-->
                                        <!--<h3 class="text-lg-left pl-1">Add images or video</h3>-->
                                    <!--</v-flex>-->
                                    <!--<v-flex row xs5>-->
                                        <!--<v-text-field-->
                                                <!--label="Add media URL"-->
                                                <!--v-model="mediaurl"-->
                                        <!--&gt;</v-text-field>-->
                                    <!--</v-flex>-->
                                    <!--<v-flex xs3 class="pr-1 pl-5">-->
                                        <!--<v-text-field-->
                                                <!--label="Add label (optional)"-->
                                                <!--v-model="medialabel"-->
                                        <!--&gt;</v-text-field>-->
                                    <!--</v-flex>-->

                                    <!--<v-flex xs3 class="pr-1 pl-5">-->
                                        <!--<v-text-field-->
                                                <!--label="Add a link (optional)"-->
                                                <!--v-model="medialink"-->
                                        <!--&gt;</v-text-field>-->
                                    <!--</v-flex>-->
                                <!--</v-layout>-->
                            <!--</v-card-title>-->
                            <!--<v-card-actions>-->
                                <!--<v-btn dark @click="addMediaURL">Add-->
                                    <!--<v-icon right dark>add_circle</v-icon>-->
                                <!--</v-btn>-->
                            <!--</v-card-actions>-->
                        <!--</v-card>-->
                    <!--</v-flex>-->
                    <!--<v-flex xs6 offset-xs1 v-if="checkMedia()">-->
                        <!--<v-card>-->
                            <!--<v-container-->
                                    <!--fluid-->
                                    <!--grid-list-md-->
                            <!--&gt;-->
                                <!--<v-layout row wrap>-->
                                    <!--<v-flex xs4-->
                                            <!--v-for="(service, index)  in testimonial.media"-->
                                            <!--:key="service.label"-->
                                    <!--&gt;-->
                                        <!--<v-card>-->
                                            <!--<video-->
                                                    <!--v-if="service.type==='video'"-->
                                                    <!--width="100%" height="200px" aspect-ratio="1" controls-->
                                                    <!--:src="service.media"></video>-->
                                            <!--<v-img-->
                                                    <!--v-if="service.type==='image'"-->
                                                    <!--:src="service.media"-->
                                                    <!--:lazy-src="service.media"-->
                                                    <!--aspect-ratio="1"-->
                                                    <!--class="grey lighten-2"-->
                                            <!--&gt;-->
                                                <!--<v-container-->
                                                        <!--fill-height-->
                                                        <!--fluid-->
                                                        <!--pa-2-->
                                                <!--&gt;-->
                                                    <!--<v-layout fill-height>-->
                                                        <!--<v-flex xs12 align-end flexbox>-->
                                                            <!--<span class="headline white&#45;&#45;text"-->
                                                                  <!--v-text="service.label"></span>-->
                                                        <!--</v-flex>-->
                                                    <!--</v-layout>-->
                                                <!--</v-container>-->
                                            <!--</v-img>-->

                                            <!--<v-card-actions>-->
                                                <!--<v-spacer></v-spacer>-->
                                                <!--<v-btn icon @click="deleteMedia(index)">-->
                                                    <!--<v-icon class="red&#45;&#45;text">delete</v-icon>-->
                                                <!--</v-btn>-->
                                            <!--</v-card-actions>-->
                                        <!--</v-card>-->
                                    <!--</v-flex>-->
                                <!--</v-layout>-->
                            <!--</v-container>-->
                        <!--</v-card>-->
                    <!--</v-flex>-->
                <!--</v-layout>-->


                <v-btn
                        :disabled="!valid"
                        color="success"
                        @click="validateForm"
                >
                    Save
                </v-btn>

                <v-btn
                        color="error"
                        :to="{ name: 'testimonials'}"
                >
                    Close
                </v-btn>
            </v-form>
            <v-snackbar
                    v-model="snackbar"
                    :bottom="y === 'bottom'"
                    :left="x === 'left'"
                    :multi-line="mode === 'multi-line'"
                    :right="x === 'right'"
                    :timeout="timeout"
                    :top="y === 'top'"
                    :vertical="mode === 'vertical'"
            >
                {{ text }}
                <v-btn
                        color="pink"
                        flat
                        @click="snackbar = false"
                >
                    Close
                </v-btn>
            </v-snackbar>
        </v-layout>
    </v-container>


</template>


<script>
    import api from '@/services/api.js'
    import moment from 'moment'
    import store from '@/store.js'
    import ClassicEditor from '@ckeditor/ckeditor5-build-classic';


    export default {
        $_veeValidate: {
            validator: 'new'
        },
        mounted() {
            this.$validator.localize('en', this.dictionary)
        },
        dictionary: {
            attributes: {
                email: 'E-mail Address'
                // custom attributes
            },
            custom: {
                name: {
                    required: () => 'Name can not be empty',
                    max: 'The name field may not be greater than 10 characters'
                    // custom messages
                }
            }
        },
        created() {
            this.getTestimonial();
        },
        data() {
            return {
                snackbar: false,
                y: 'top',
                x: null,
                mode: '',
                timeout: 6000,
                text: 'Hello, your testimonial has been saved.',
                valid: true,
                mediaurl: null,
                medialabel: null,
                medialink: '',
                mediatype: 'image',
                newTestimonial: true,
                testimonial: {},
                name: '',
                nameRules: [
                    v => !!v || 'Name is required',
                    v => (v && v.length <= 10) || 'Name must be less than 10 characters'
                ],
                commentRules: [
                    v => !!v || 'A comment is required',
                ],
                email: '',
                emailRules: [
                    v => !!v || 'E-mail is required',
                    v => /.+@.+/.test(v) || 'E-mail must be valid'
                ],
                select: null,
                items: [
                    'Item 1',
                    'Item 2',
                    'Item 3',
                    'Item 4'
                ],
                checkbox: false,
                editor: ClassicEditor,
                editorData: '<p></p>',
                editorConfig: {
                    // The configuration of the editor.
                    height: '25em'
                }
            }
        },
        filters: {
            formattedDate: function (date) {
                return moment(date).format('MMMM Do YYYY, h:mm:ss a');
            }
        },
        methods: {
            validateForm() {
                this.$validator.validateAll().then(result => {
                    if (result) {
                        this.save();
                    }
                });

            },
            validate() {
                if (this.$refs.form.validate()) {
                    this.snackbar = true
                }
            },
            deleteMedia(_index) {
                this.testimonial.media.splice(_index, 1);
                this.testimonial.updated_date = Date.now();
            },
            async save() {
                this.testimonial.updated_by = store.getters.currUserName;
                let res = await api.saveTestimonial(this.testimonial);
                if (res.status === 200) {
                    this.text = 'Hello, your testimonial has been updated.';
                    this.snackbar = true;
                    let self = this;
                    setTimeout(function () {
                        self.$router.push({path: '/testimonials'});
                    }, 1500);
                } else {
                    this.text = 'Hello, your testimonial WAS NOT saved. Please try again later.';
                    this.snackbar = true;
                }
            },
            checkMedia() {
                if (this.testimonial.media && this.testimonial.media.length > 0) {
                    return true
                }
                return false;
            },
            async getTestimonial() {
                if (this.$route.params.id) {
                    this.testimonial = await api.getTestimonial(this.$route.params.id);
                } else {
                    this.testimonial.status = 'draft';
                }
                if (!this.testimonial.media) {
                    this.testimonial.media = [];
                }
            },
            addMediaURL() {
                if (this.mediaurl.indexOf('.mp4') >= 0) {
                    this.mediatype = 'video';
                } else {
                    this.mediatype = 'image';
                }
                this.testimonial.media.push({
                    'label': this.medialabel,
                    'media': this.mediaurl,
                    'type': this.mediatype,
                    'link': this.medialink
                });
                this.testimonial.updated_date = Date.now();
                this.medialabel = null;
                this.mediaurl = null;
            }
        }
    }
</script>
