<template>
    <div class="home flex xs12">
        <v-flex xs12>
            <v-card color="blue-grey darken-2" class="white--text">
                <v-card-title primary-title>
                    <div class="flex xs12">
                        <div class="headline">Testimonials</div>
                        <div class="pb-1">Create, edit and delete testimonials.</div>
                        <v-data-table
                                :headers="headers"
                                :items="testimonials"
                                class="elevation-1"
                                v-bind:pagination.sync="pagination"
                        >
                            <template
                                    slot="items"
                                    slot-scope="props"
                            >
                                <td>{{ props.item.customer_name }}</td>
                                <td>
                                    {{ props.item.status | upperCase }}
                                </td>
                                <td>
                                    {{ props.item.updated_date | formattedDate }}
                                </td>
                                <td>
                                    <router-link :to="{ name: 'testimonial', params: { id: props.item._id }}">
                                        <v-icon
                                                small
                                                class="mr-2"
                                        >
                                            edit
                                        </v-icon>
                                    </router-link>
                                </td>
                                <td>
                                    <v-icon
                                            small
                                            @click="deleteTestimonial(props.item._id)"
                                    >
                                        delete
                                    </v-icon>
                                </td>
                            </template>
                        </v-data-table>
                    </div>
                </v-card-title>
                <router-link :to="{ name: 'testimonial', params: { id: null}}">
                    <v-btn
                            color="green"
                            dark
                            large
                            absolute
                            right
                            fab
                            class="mt-2">
                        <v-icon>add</v-icon>
                    </v-btn>
                </router-link>
            </v-card>
        </v-flex>
    </div>
</template>


<script>
    // @ is an alias to /src
    import api from '@/services/api.js'
    import moment from 'moment'
    export default {
        created() {
            this.getTestimonials()
        },
        name: 'home',
        filters: {
            formattedDate: function (date) {
                return moment(date).format('MMMM Do YYYY, h:mm:ss a');
            },
            upperCase: function (_val) {
                return _val.toUpperCase();
            }
        },
        methods: {
            async getTestimonials() {
                this.testimonials = await api.getTestimonials();
            },
            async deleteTestimonial(_id) {
                await api.deleteTestimonial(_id);
                this.$router.go();
            }
        },
        data() {
            return {
                pagination: {'sortBy': 'updated_date', 'descending': true, 'rowsPerPage': -1},
                testimonials: [],
                headers: [
                    {
                        text: 'Customer Name',
                        align: 'left',
                        sortable: false,
                        value: 'customer_name'
                    },
                    {text: 'Status', value: 'status', sortable: false},
                    {text: 'Last Updated', value: 'updated_date'},
                    {text: 'Edit', value: ''},
                    {text: 'Delete', value: ''}
                ]
            }
        }

    }
</script>
