

<template>
    <div class="home flex xs12">
        <v-flex xs12>
            <v-card color="blue-grey darken-2" class="white--text">
                <v-card-title primary-title>
                    <div class="flex xs12">
                        <div class="headline">Users</div>
                        <div class="pb-1">Create, edit, reset passwords and delete users.</div>
                        <v-data-table
                                :headers="headers"
                                :items="users"
                                class="elevation-1"
                        >
                            <template
                                    slot="items"
                                    slot-scope="props"
                            >
                                <td>{{ props.item.username }}</td>
                                <td>
                                    {{ props.item.role }}
                                </td>
                                <td>
                                    {{ props.item.updated_date | formattedDate }}
                                </td>
                                <td>
                                    <router-link :to="{ name: 'user', params: { id: props.item._id }}">
                                        <v-icon
                                                small
                                                class="mr-2"
                                        >
                                            edit
                                        </v-icon>
                                    </router-link>
                                </td>
                                <td>
                                    <v-icon
                                            small
                                            @click="deleteUser(props.item._id)"
                                    >
                                        delete
                                    </v-icon>
                                </td>
                            </template>

                        </v-data-table>
                    </div>
                </v-card-title>
                <router-link :to="{ name: 'user', params: { id: null}}">
                    <v-btn
                            color="green"
                            dark
                            large
                            absolute
                            right
                            fab
                            class="mt-2">
                        <v-icon>add</v-icon>
                    </v-btn>
                </router-link>
            </v-card>
        </v-flex>
    </div>
</template>


<script>
    // @ is an alias to /src
    import api from '@/services/api.js'
    import moment from 'moment'
    export default {
        created() {
            this.getUsers()
        },
        name: 'home',
        filters: {
            formattedDate: function (date) {
                return moment(date).format('MMMM Do YYYY, h:mm:ss a');
            }
        },
        methods: {
            async getUsers() {
                this.users = await api.getUsers();
            },
            async deleteUser(_id) {
                await api.deleteUser(_id);
                this.$router.go();
            }
        },
        data() {
            return {
                users: [],
                headers: [
                    {
                        text: 'User',
                        align: 'left',
                        sortable: false,
                        value: 'username'
                    },
                    {text: 'Role', value: 'role'},
                    {text: 'Last Updated', value: 'updated_date'},
                    {text: 'Edit', value: ''},
                    {text: 'Delete', value: ''}
                ]
        }
    }

    }
</script>
