<template>
    <v-container white>
        <v-layout row>
            <v-form
                    ref="form"
                    v-model="valid"
                    lazy-validation
                    class="flex xs12"
            >
                <v-layout row wrap>
                    <v-flex xs6>
                        <v-text-field
                                v-model="data.username"
                                label="E-mail"
                                :disabled="newUser == false"
                                v-validate="'required|email'"
                                data-vv-name="email"
                                :error-messages="errors.collect('email')"
                                required
                        ></v-text-field>
                    </v-flex>
                    <v-flex xs3 offset-xs3 class="text-lg-right">
                        Updated: {{data.updated_date | formattedDate}}
                    </v-flex>
                </v-layout>
                <v-flex xs12>
                    <v-text-field
                            v-if="newUser===true"
                            :append-icon="show3 ? 'visibility_off' : 'visibility'"
                            :type="show3 ? 'text' : 'password'"
                            name="input-10-2"
                            label="Password"
                            v-model="data.password"
                            class="input-group--focused"
                            @click:append="show3 = !show3"
                            v-validate="'required|min:7'"
                            data-vv-name="password"
                            :error-messages="errors.collect('password')"
                            required
                    ></v-text-field>
                </v-flex>

                <v-radio-group
                        v-model="data.role"
                        row
                >
                    <v-radio
                            label="Admin"
                            value="admin"
                    ></v-radio>
                    <v-radio
                            label="Member"
                            value="member"
                    ></v-radio>
                </v-radio-group>


                <v-btn
                        :disabled="!valid"
                        color="success"
                        @click="validateForm"
                >
                    Save
                </v-btn>

                <v-btn
                        v-if="!newUser"
                        color="warning"
                        @click="sendPasswordLink"
                >
                    Send Password Link
                </v-btn>
                <v-btn
                        color="error"
                        :to="{ name: 'users'}"
                        @click="save"
                >
                    Close
                </v-btn>

            </v-form>
            <v-snackbar
                    v-model="snackbar"
                    :bottom="y === 'bottom'"
                    :left="x === 'left'"
                    :multi-line="mode === 'multi-line'"
                    :right="x === 'right'"
                    :timeout="timeout"
                    :top="y === 'top'"
                    :vertical="mode === 'vertical'"
            >
                {{ text }}
                <v-btn
                        color="pink"
                        flat
                        @click="snackbar = false"
                >
                    Close
                </v-btn>
            </v-snackbar>
        </v-layout>
    </v-container>


</template>


<script>
    import api from '@/services/api.js'
    import moment from 'moment'
    import store from '@/store.js'

    export default {
        $_veeValidate: {
            validator: 'new'
        },
        mounted() {
            this.$validator.localize('en', this.dictionary)
        },
        created() {
            this.getUser();
        },
        data() {
            return {
                snackbar: false,
                y: 'top',
                x: null,
                mode: '',
                timeout: 6000,
                text: 'Hello, your password reset link has been sent.',
                valid: false,
                newUser: true,
                disableSave: true,
                data: {},
                name: '',
                show3: false,
                show4: false,
                rules: {
                    required: value => !!value || 'Required.',
                    min: v => v.length >= 7 || 'Min 7 characters',
                    emailMatch: [
                        v => !!v || 'E-mail is required',
                        v => /.+@.+/.test(v) || 'E-mail must be valid'
                    ]
                },
                nameRules: [
                    v => !!v || 'Name is required',
                    v => (v && v.length <= 10) || 'Name must be less than 10 characters'
                ],
                email: '',
                emailRules: [
                    v => !!v || 'E-mail is required',
                    v => /.+@.+/.test(v) || 'E-mail must be valid'
                ],
                password: ''
            }
        },
        dictionary: {
            attributes: {
                email: 'E-mail Address'
                // custom attributes
            },
            custom: {
                name: {
                    required: () => 'Name can not be empty',
                    max: 'The name field may not be greater than 10 characters'
                    // custom messages
                }
            }
        },
        filters: {
            formattedDate: function (date) {
                return moment(date).format('MMMM Do YYYY, h:mm:ss a');
            }
        },
        methods: {
            async sendPasswordLink() {
                let res = await api.sendPasswordLink(this.data);
                if (res.accepted !== []) {
                    this.text = 'Hello, your password reset link has been sent.';
                    this.snackbar = true;
                } else {
                    this.text = 'Hello, your password reset link WAS NOT sent. Please try again later.';
                    this.snackbar = true;
                }
            },
            validateForm() {
                this.$validator.validateAll().then(result => {
                    if (result) {
                        this.save();
                    }
                });

            },
            async save() {
                this.data.updated_by = store.getters.currUserName;
                let res = await api.saveUser(this.data);
                if (res.status === 200) {
                    this.text = 'Hello, your user has been updated.';
                    this.snackbar = true;
                    let self = this;
                    setTimeout(function(){
                        self.$router.push({path: 'users'});
                    }, 1500);
                } else {
                    this.text = 'Hello, your user WAS NOT sent. Please try again later.';
                    this.snackbar = true;
                }
            },
            async getUser() {
                if (this.$route.params.id) {
                    this.data = await api.getUser(this.$route.params.id);
                    this.newUser = false;
                }else{
                    this.data.role = 'member';
                }
            }
        }
    }
</script>
