<template>
    <v-app id="inspire">
        <v-toolbar
                color="blue-grey"
                dark
                fixed
                app
                clipped-right
        >
            <v-toolbar-side-icon @click.stop="drawer = !drawer"></v-toolbar-side-icon>
            <v-toolbar-title>TW Property Services</v-toolbar-title>
            <v-spacer></v-spacer>

            <v-btn icon @click="logout">
                <v-icon>logout</v-icon>
            </v-btn>
        </v-toolbar>

        <v-navigation-drawer
                fixed
                v-model="drawer"
                app
                dark
        >
            <v-toolbar flat>
                <v-list>
                    <v-list-tile>
                        <v-list-tile-title class="title">
                            Menu
                        </v-list-tile-title>
                    </v-list-tile>
                </v-list>
            </v-toolbar>

            <v-divider></v-divider>
            <v-list two-line>
                <template v-for="(item, index) in items">
                    <v-subheader
                            v-if="item.header"
                            :key="item.header"
                    ></v-subheader>
                    <v-divider
                            v-else-if="item.divider"
                            :key="index"
                            :inset="item.inset"
                    ></v-divider>

                    <v-list-tile
                            v-else
                            :key="item.title"
                            avatar
                            :to="{path: '/'+item.link}"
                            @click="drawer = false"
                    >
                        <v-icon x-large>
                            {{item.icon}}
                        </v-icon>

                        <v-list-tile-content>
                            <v-list-tile-title v-html="item.title"></v-list-tile-title>
                            <v-list-tile-sub-title v-html="item.subtitle"></v-list-tile-sub-title>
                        </v-list-tile-content>
                    </v-list-tile>
                </template>
            </v-list>
        </v-navigation-drawer>
        <v-navigation-drawer
                temporary
                v-model="left"
                fixed
        ></v-navigation-drawer>
        <v-content>
            <v-container fluid>
                <router-view></router-view>
            </v-container>
        </v-content>
        <v-footer color="blue-grey" class="white--text" app>
            <span>Vuetify</span>
            <v-spacer></v-spacer>
            <span>&copy; 2017</span>
        </v-footer>
    </v-app>
</template>

<script>
    export default {
        methods: {
            logout: function () {
                this.$store.dispatch('logout')
                    .then(() => this.$router.push('/login'))
                    .catch(err => console.log(err))
            }
        },
        data: () => ({
            drawer: false,
            left: null,
            items: [
                {
                    icon: 'home',
                    title: 'Home',
                    subtitle: "",
                    link: ''
                },
                {divider: true, inset: true}, {
                    icon: 'public',
                    title: 'Pages',
                    subtitle: "Update or create pages",
                    link: 'sips'
                },
                {divider: true, inset: true},
                {
                    icon: 'chat_bubble',
                    title: 'Blogs',
                    subtitle: "Create blog content",
                    link: 'blogs'
                },
                {divider: true, inset: true},
                {
                    icon: 'comment',
                    title: 'Testimonials',
                    subtitle: "Add/update feedback",
                    link: 'testimonials'
                },
                {divider: true, inset: true},
                {
                    icon: 'domain',
                    title: 'Projects',
                    subtitle: "Demo projects",
                    link: 'projects'
                },
                {divider: true, inset: true},
                {
                    icon: 'camera_alt',
                    title: 'Gallery',
                    subtitle: "Load galleries",
                    link: 'galleries'
                },
                {
                    icon: 'account_box',
                    title: 'Users',
                    subtitle: "Add/Remove Access",
                    link: 'users'
                },
                {divider: true, inset: true}
            ]
        }),

        props: {
            source: String
        }
    }
</script>
